@media screen and (max-width: 600px) {
    
    .home-content {
        width: 100%;
        min-height: 100px;
        margin:auto;

        text-align: center;
        position: relative;

        font-family: Arial, Helvetica, sans-serif;
    }
}

@media screen and (min-width: 600px) {
    
    .home-content {
        width: 40%;
        min-height: 100px;
        min-width: 350px;

        margin:auto;
        position: relative;

        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.home-content-container {
    height: 100%;
    position: relative;
}

.page-wrap {
    height: 100vh;
}

.page-wrap:before {
    content: "";
    background-image: url("images/trigPic1.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.4;

    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.footer-content {
    margin: auto;
}